body {
    min-height: 700px;
    min-width: 700px;
    border: solid 10px #999;
    text-align: center;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

section {
}

section.scene {
    width: 700px;
    min-width: 700px;
    margin: 0 auto;
}

section.menu {
}

section.menu .debugbutton {
}

section.menu .debugbutton button {
    position: absolute;
    right: 0px;
    top: 0px;
}

section.race {
}

section.race section.racetrack div {
    font-size: 14px;
}

section.race section.history p {
    text-indent: 50px;
    text-align: left;
}

section.debug {
}

section.scene.result {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

section.layer.result {
    position: fixed;
    background-color: #000;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
