body {
    height: 600px;
    width: 700px;
    border: solid 10px #000;
    text-align: center;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

section.history p {
    text-indent: 100px;
    text-align: left;
}
