body {
    min-height: 700px;
    min-width: 700px;
    border: solid 10px #999;
    text-align: center;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

section {
}

section.scene {
    width: 700px;
    min-width: 700px;
    margin: 0 auto;
}

section.menu {
}

section.menu .debugbutton {
}

section.menu .debugbutton button {
    position: absolute;
    right: 0px;
    top: 0px;
}

section.race {
}

section.race section.racetrack div {
    font-size: 14px;
}

section.race section.history p {
    text-indent: 50px;
    text-align: left;
}

section.debug {
}

section.scene.result {
    position:fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.layer.result {
    position:fixed;
    z-index: 20;
    border-radius: 10px;
    position: fixed;
    background-color: #FFF;
    height: 200px;
    width: 400px;
}

div.modal {
    position:fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.2;
    height: 100%;
    min-height: 100%;
    width: 100%;
}
